<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <h2 style="color: black;">Login</h2>
            <form action="/login2" method="POST">
                <button type="submit" class = "btn"><span>Login</span></button>
            </form>
            <a href="/register">
                <button type="button" class = "btn"><span>Register</span></button>
            </a>
        </div>
    </body>
</html>